body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    background: #2c3e50;
    padding: 20px;
    color: white;
    text-align: center;
}

#formulario {
  text-align: center;
    padding: 20px;
    background: #fff;
    margin: 20px;
    border-radius: 10px;
}

input, button {
  text-align: center;
    width: 50%;
    padding: 12px;
    margin: 8px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}

.card img {
    width: 75%;
    border-radius: 10px;
}
