body {
  font-family: Arial;
  padding: 20px;
}

.form-box input {
  padding: 8px;
  margin: 5px;
}

.form-box button {
  padding: 10px;
  margin-top: 5px;
}

.item {
  border: 1px solid #ddd;
  padding: 12px;
  margin: 10px 0;
}

.item img {
  width: 120px;
  height: auto;
}
