body {
  font-family: Arial;
  margin: 20px;
  padding: 0;
  background: #f2f2f2;
}

#productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 10px;
}
